<div>
    <form name="ctrl.formNotes" data-ng-submit="ctrl.submit()">
        <div>
            <label><strong>Notes</strong></label>
            <textarea rows="5" placeholder="Notes" data-ng-model="ctrl.notes" autofocus></textarea>
        </div>
        <div class="row">
            <div class="columns large-6">
                <button class="button secondary expand" data-ng-click="ctrl.cancel()">Cancel</button>
            </div>
            <div class="columns large-6">
                <input type="submit" class="button expand" value="Submit" />
            </div>
        </div>
    </form>
</div>