@{
    ViewBag.Title = "Home Page";
}
<div data-ng-controller="MainController as main">
    <div class="row">
        <div class="columns">
            <input type="text" name="showCode" class="inputShowCode" data-ng-model="main.showCode" placeholder="Show Code" />
        </div>
    </div>
    <div class="row exl-padding">
        <div class="columns">
            <ul class="button-group toggle even-4 text-center" data-toggle="buttons-radio">
                <li>
                    <input type="radio" id="callTypeAttendee" name="r-group" data-toggle="button">
                    <label class="button" for="callTypeAttendee">Attendee</label>
                </li>
                <li>
                    <input type="radio" id="callTypeExhibitor" name="r-group" data-toggle="button">
                    <label class="button" for="callTypeExhibitor">Exhibitor</label>
                </li>
                <li>
                    <input type="radio" id="callTypeLeadSales" name="r-group" data-toggle="button">
                    <label class="button" for="callTypeLeadSales">Lead Sales</label>
                </li>
                <li>
                    <input type="radio" id="callTypeTrafficBoost" name="r-group" data-toggle="button">
                    <label class="button" for="callTypeTrafficBoost">Traffic Boost</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" data-ng-show="main.currentOptions.length">
        <div class="columns">
            <a class="button" data-ng-click="main.goBack()"><span class="fa fa-chevron-left"></span> Back</a>
            <pre>@*{{main.currentOptions|json}}*@</pre>
            <ul class="small-block-grid-3 closeOutOptionList">
                <li data-ng-repeat="option in main.currentOptions" class="closeOutOption">
                    <a href="#" class="button large expand" data-ng-click="main.selectOption(option)">
                        {{option.description}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>